.App {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.centralise {
  display: grid;
  height: 50vmin;
  justify-content: center;
  align-content: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

.max-w-xxs {
  max-width: 7.5rem;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 1s ease-in-out;
  }
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(40px);
    opacity: 0.3;
  }
  90% {
    transform: translateY(1px);
    opacity: 0.5;
  }
}
